@model LadderViewModel

@{ 
    void DisplayLadder(string title, IEnumerable<Ladder.Entry> entries)
    {
        <h5>@title</h5>
        if(entries != null)
        {
            <ol>
                @foreach (var entry in entries)
                {
                    <li>
                        @entry.Name: @entry.TimeDescription() sec. @(entry.Flag.Has(Ladder.EntryFlag.OneLife) ? "(HC)" : string.Empty)
                    </li>
                }
            </ol>
        }
    }
}

<div class="row">
    <div class="col-12">
        <h4>Ladder @Model.Ladder.Version <span class="small">HC = Hardcore = 1 Life</span></h4>
    </div>
@if(Model.Ladder != null)
{
    var entries = Model.Ladder.EntriesFor(Ladder.LadderFlag.CompetitiveRealLanding);

    if(entries != null && entries.Count > 0)
    {
        <div class="col-12 col-lg-6">
            @{DisplayLadder("Competitive | Real Landing", entries); }
        </div>
    }
    
    entries = Model.Ladder.EntriesFor(Ladder.LadderFlag.Competitive);

    if(entries != null && entries.Count > 0)
    {
        <div class="col-12 col-lg-6">
            @{DisplayLadder("Competitive", entries); }
        </div>
    }
}
</div>